# Exploring the data

In this notebook, we'll take a look into the dataset.

## Loading the data

In [1]:
import numpy as np
import pandas as pd

In [2]:
%%time
data = pd.read_csv('../data/data.csv')

CPU times: user 54.9 s, sys: 12 s, total: 1min 6s
Wall time: 1min 8s

## Exploring the data

Let's start with the shape and metadata.

In [3]:
data.shape

(25358536, 8)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25358536 entries, 0 to 25358535
Data columns (total 8 columns):
week            object
user            object
tweets          int64
total_length    int64
total_words     int64
hashtags        object
mentions        object
urls            object
dtypes: int64(3), object(5)
memory usage: 1.5+ GB

In [5]:
data.describe()

             tweets  total_length   total_words
count  2.535854e+07  2.535854e+07  2.535854e+07
mean   5.973619e+00  5.722610e+02  9.452077e+01
std    2.175610e+01  2.256288e+03  3.530495e+02
min    1.000000e+00  2.000000e+01  1.000000e+00
25%    1.000000e+00  8.900000e+01  1.400000e+01
50%    2.000000e+00  1.560000e+02  2.700000e+01
75%    5.000000e+00  4.230000e+02  7.100000e+01
max    1.214500e+04  1.008111e+06  1.292910e+05

Any missing values?

In [6]:
data.dropna().shape == data.shape

True

How do the rows look?

In [7]:
data.head()

,week,user,tweets,total_length,total_words,hashtags,mentions,urls
0,2009-08-31 00:00:00,bdogg,2,133,24,{},{},{}
1,2009-06-15 00:00:00,0,1,134,24,{},{simonjjames},{}
2,2009-07-20 00:00:00,00000000,1,77,10,{},{},{http://www.livestream.com/00000000}
3,2009-08-03 00:00:00,00000000,1,28,5,{},{octavaria},{}
4,2009-08-24 00:00:00,00000000,1,68,12,{},{},{}

In [8]:
type(data['week'][0])

str

In [9]:
type(data['user'][0])

str

In [10]:
type(data['total_length'][0])

numpy.int64

In [11]:
type(data['hashtags'][0])

str

In [12]:
type(data['mentions'][0])

str

In [13]:
type(data['urls'][0])

str

The columns with arrays are just a strings that need to be transformed manually before using them for training.